.coin
  margin: 0 auto
  display: flex
  justify-content: center
  text-align: center
  width: 90%
  color: white

  .coin-parameter
    margin: 0
    width: 130px
    justify-content: center
    align-items: center
    padding: 15px
    border-right: 1px solid grey
    flex-grow: 1

    // h4
    //   color: #3eb8ff
    //   margin: 5px 0
